{% extends "base.html" %}
{% block content %}
    {% include "components/searchbar.html" %}
    {% include "components/h1.html" %}
      <div class="container">
      <div class="catalog row">
        <div class="col-md-6">
            <dl class="catalog-list">
                
                    <dt><a href="/ru/categories/17/sites/">Государственные услуги</a></dt>
                    <dd>Порталы государственных услуг</dd>
                
                    <dt><a href="/ru/categories/2/">Здоровье, спорт, туризм</a></dt>
                    <dd>Здравоохранение, активный и здоровый образ жизни</dd>
                
                    <dt><a href="/ru/categories/3/">Правосудие, правопорядок</a></dt>
                    <dd>Обеспечение и охрана правопорядка на территории РФ, нормативно-правовое и судебное регулирование</dd>
                
                    <dt><a href="/ru/categories/4/">Безопасность страны, ЧС</a></dt>
                    <dd>Защита от внешних угроз и чрезвычайных ситуаций</dd>
                
                    <dt><a href="/ru/categories/5/">Образование, наука, культура</a></dt>
                    <dd>Воспитание и обучение, научные учреждения, искусство, культурное наследие</dd>
                
                    <dt><a href="/ru/categories/6/">Труд, соцзащита</a></dt>
                    <dd>Охрана прав человека, регулирование в вопросах труда и его оплаты, пенсионного обеспечения и социальной защиты</dd>
                
                    <dt><a href="/ru/categories/7/">ИТ, связь, СМИ</a></dt>
                    <dd>Государственные услуги, информационные технологии, почта, доступ к услугам связи и медиасреде</dd>
                
                    <dt><a href="/ru/categories/8/">Экономика, финансы</a></dt>
                    <dd>Макроэкономика, финансовые рынки, инвестиционная политика</dd>
                
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="catalog-list">
                
                    <dt><a href="/ru/categories/9/">Промышленность, строительство</a></dt>
                    <dd>Промышленный и оборонно-промышленный комплекс, техническое регулирование</dd>
                
                    <dt><a href="/ru/categories/10/">Природопользование, экология</a></dt>
                    <dd>Использование, воспроизводство и охрана природных ресурсов</dd>
                
                    <dt><a href="/ru/categories/11/">Транспорт</a></dt>
                    <dd>Перевозка пассажиров и грузов</dd>
                
                    <dt><a href="/ru/categories/12/">Региональное развитие</a></dt>
                    <dd>Социально-экономического развитие субъектов Российской Федерации</dd>
                
                    <dt><a href="/ru/categories/13/">Стандарты, реестры, статистика</a></dt>
                    <dd>Службы государственной регистрации</dd>
                
                    <dt><a href="/ru/categories/14/">Международная деятельность</a></dt>
                    <dd>Международные отношения Российской Федерации</dd>
                
                    <dt><a href="/ru/categories/15/">Президент, Правительство, Федеральное собрание</a></dt>
                    <dd>Высшее руководство страны</dd>
                
            </dl>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}