{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
      <div class="container">
        <div class="page-header page-header_main page-header_highlight">
          <h1>Сброс пароля</h1>
          <p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлим на него письмо для востоновлению пароля.</p>
        </div>
      </div>
	<div class="container">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-info" type="submit">Отправить</button>
        </form>
  	</div>
{% endblock %}